.heading {
  text-align: center;
  font-size: 50px;
}
.menu {
  /* background-color: aqua; */
  margin: 10px;
  height: inherit;
}

#profile-body {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.user-info-card {
  width: auto;
  border: 1px dotted black;
  margin: 10px;
}

.message-feed-card {
  display: flex;

  /* border: 1px solid green; */
  margin: 50px;
  width: 50%;
  flex-direction: column;
}
